*{
    margin : 0;
    padding : 0;
    box-sizing :border-box;
    font-family :'poppins', sans-serif;
}
body{
    color: white;
    background: #001829;
    overflow-x: hidden;
}
.header{
    background: #001829;
    padding: 30px 10px;
    position :fixed;
    top :0;
    left: 0;
    width: 100%;
    padding: 10px,10%;
    margin: 0px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(133, 76, 180)9, 130, 238;
    z-index: 100;
}
.cen{
text-align: center;
font-size: 48px;
color: cyan;
text-shadow: 0 0 10px white;
background-color:  #001829;
font-weight: 600;
}
.logo{
    position: relative;
    font-size :40px;
    color: rgb(250, 245, 245);
    text-decoration: none;
    font-weight :600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar a{
    display: inline-block;
    font-size :25px;
    color: rgb(252, 249, 249);
    text-decoration :none;
    font-weight: 500;
    margin-left: 35px;
    transition :1s;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--1));
}
.navbar a:hover{   
    background: rgb(14, 235, 235) ;
    border-radius: 30px;
    padding: 10px;
    color: rgb(29, 7, 49);
    box-shadow: 0 0 20px cyan;
}
.home{
    position:relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-color: #001829;
    display: flex;
    align-items :center;
    padding: 20px 5% 0;
}
.h_img{
    float: right;
}
.h_img img{
    width :300px;
    height: 300px;
    margin:60px;
    margin-right: 40px;
    border-radius :50%;
    box-shadow: 0 0 15px cyan,0 0 25px cyan,0 0 50px cyan,0 0 75px cyan;
    transition: 1s;
    animation: moveUpDown 2s ease-in-out infinite;
}
.h_con{
    max-width: 700px;
    margin-top: 80px;
    float: left;
    transition: 1s;
}
.h_con h3{
    font-size: 32px;
    font-weight: 700;
    color: rgb(245, 243, 243);
    animation: slideTop .5s ease forwards;
    opacity: 0;
}
.h_con h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}
.h_con h3 span{
    color: cyan;
}

.h_con h1{
    font-size: 54px;
    color: rgb(247, 245, 245);
    margin: -3px 0;
    text-shadow: 0px 15px 25px rgb(71, 206, 211);
    font-weight :700;
    opacity: 0;
    animation-delay: 1s;
    animation: slideRight 1s ease forwards;
}
.h_con p{
    font-size: 20px;
    font-weight: 400;
    color :rgb(245, 241, 241);
    opacity: 0;
    animation-delay: 1s;
    animation: slideLeft 1s ease forwards;
}
.h_soc .fa{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(14, 235, 235);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 25px;
    color:rgb(14, 235, 235);
    margin: 20px 13px;
    transition: .5s ease;
    cursor: pointer;
    padding: 18px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--1));
    box-shadow: 0 0 20px white;
}
.h_soc .fa:hover{
    background: rgb(14, 235, 235) ;
    color: rgb(29, 7, 49);
    box-shadow: 0 0 5px cyan,0 0 25px cyan,0 0 50px cyan,0 0 75px cyan;
}
.btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(14, 235, 235);
    border: 1px solid rgb(14, 235, 235);
    margin:  5px 13px;
    padding:12px 40px;
    font-size: 18px;
    border-radius: 30px;
    background: transparent;
    position: relative;
    cursor: pointer;
    backdrop-filter: blur(40px);
    box-shadow: 0 0 20px white;
    transition: 1s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    margin-bottom: 40px;
}
.btn:hover{   
    background: rgb(14, 235, 235) ;
    color: rgb(29, 7, 49);
    box-shadow: 0 0 5px cyan,0 0 25px cyan,0 0 50px cyan,0 0 75px cyan;
    padding: 20px 40px;
}
.aboutme{
    display: grid;
    align-items: center;
    gap: 1.5rem;
    grid-template-columns: repeat(2,1fr);
}
.profile img{
    width :300px;
    height: 300px;
    margin:60px;
    margin: 70px 60px 0px;
    margin-right: 40px;
    border-radius :50%;
    box-shadow: 0 0 15px cyan,0 0 25px cyan,0 0 50px cyan,0 0 75px cyan;
}
.about_txt h2{
    font-size: 60px;
}
.about_txt h2 span{
    color: cyan;
}
.about_txt h4{
    font-size: 29px;
    font-weight: 600;
    color: white;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about_txt p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
    padding-right: 30px;
}

.project{
    position:relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-color: #001829;
    display: flex;
    align-items :center;
    padding: 20px 5% 0;
}
.h_page{
    float: right;
}
.h_page img{
    width: 450px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px cyan,0px 0px 35px cyan,0px 0px 65px cyan;
    transition: 1s;
}
.h_page img:hover{
    width: 480px;
    height: 320px;
}
.container{
    max-width: 700px;
    float: left;
    transition: 1s;
}
.container h2{
    font-size: 40px;
    margin: 10px;
    animation: slideRight 1s ease forwards;
}
.container p{
    font-size: 20px;
    padding: 10px 10px;
    margin: 20px 0px;
    animation: slideLeft 1s ease forwards;
}
.container a{
    text-decoration: none;
    color: cyan;
    font-size: 18px;
    margin: 20px 10px;
}
.container h4{
    margin: 10px 10px;
}
.subtitle{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subtitle span{
    color: cyan;
}
.skill{
    position:relative;
    width: 100%;
    justify-content: space-between;
    height: 90vh;
    background-color: #001829;
    display: flex;
    align-items :center;
    padding: 20px 5% 0;

}
.skill h1{
    font-size: 50px;
    animation: moveUpDown 2s ease-in-out infinite;
}
.skill .box{
    width: 500px;
    height: 130px;
    border: 1px solid cyan;
    padding: 30px 20px;
    margin: 20px 20px;
    transition: 1s;
    box-shadow: 0 0 10px 10px cyan;
}
.skill .box:hover{
    width: 550px;
    height: 150px;
    box-shadow: 0 0 20px 20px cyan;
}
.skill li{
    font-size: 20px;
    font-weight: 600;
}
.skill li span{
    font-size: 18px;
}
.skill li h3{
    font-size: 15px;
}
.skill li a{
    text-decoration: none;
    color: cyan;

}
.contact{
    position:relative;
    width: 100%;
    justify-content: space-between;
    height: 50vh;
    background-color: #001829;
    display: flex;
    align-items :center;
    padding: 20px 5% 0;
    margin-bottom: 40px;

}
.contact .left{
    padding: 30px 40px;
    margin: 30px 20px;
}
.contact input{
    width: 400px;
    height: 30px;
    border-radius: 30px;
    padding: 20px 20px;
    margin: 10px 30px;
    font-size: 15px;
}
.contact input:hover{
    box-shadow: 0 0 10px 10px cyan;
}
.contact textarea{
    border-radius: 30px;
    padding: 20px 20px;
    margin: 10px 30px;
    width: 400px;
}
.contact button{
    width: 300px;
    justify-content: center;
    margin-left: 80px;
}
.contact input,textarea::placeholder{
    font-size: 15px;
}
.right h1{
    color: cyan;
    font-size: 40px;
    margin: 20px 30px;
    padding: 10px;
    animation: slideRight 1s ease-in forwards;

}
.right p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
    padding-right: 30px;
    margin: 10px 30px;
    animation: slideLeft 1s ease-in forwards;
}
.right .footer{
    color: cyan;
}
.fa fa-heart-o{
    color: red;
}














@keyframes slideRight {
    0%{
      transform: translateX(-100px);
      opacity: 0;  
    }
    100%{
        transform: translateX(0px);
        opacity: 1;    
    }
}
@keyframes slideLeft {
    0%{
      transform: translateX(100px);
      opacity: 0;  
    }
    100%{
        transform: translateX(0px);
        opacity: 1;    
    }
}
@keyframes moveUpDown{
    0%,100%{
        transform: translateY(40px);
    }
    50%{
        transform: translateY(-40px);
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;  
      }
      100%{
          transform: translateY(0px);
          opacity: 1;    
      }
}





@media (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    .header {
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }

    .logo {
        font-size: 30px;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar a {
        font-size: 18px;
        margin: 10px 0;
    }

    .home {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 20px;
    }

    .h_con {
        max-width: 100%;
        padding: 10px;
    }

    .h_con h1 {
        font-size: 40px;
    }

    .h_con h3 {
        font-size: 24px;
    }

    .h_con p {
        font-size: 16px;
    }

    .h_img {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .h_img img {
        width: 200px;
        height: 200px;
        margin: 0;
    }

    .aboutme {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .profile img {
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }

    .about_txt h2 {
        font-size: 40px;
    }

    .about_txt h4 {
        font-size: 22px;
    }

    .about_txt p {
        font-size: 16px;
        padding: 0 10px;
    }

    .project {
        flex-direction: column;
        text-align: center;
        height: auto;
    }

    .h_page {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }

    .h_page img {
        width: 300px;
        height: 200px;
    }

    .container {
        max-width: 100%;
        padding: 10px;
    }

    .container h2 {
        font-size: 32px;
    }

    .container p {
        font-size: 16px;
    }

    .btn {
        padding: 10px 30px;
        font-size: 16px;
    }

    .h_soc {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .h_soc .fa {
        margin: 10px;
    }
}
.menu-icon {
    font-size: 30px;
    cursor: pointer;
    display: none; 
}

/* Responsive Menu */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
        z-index: 999999999;
    }
    .cour{
        display: none;
    }
    .skill{
        margin-bottom: 300px;
    }
    .contact .left{
        display: none;
    }
    .logo{
        display: none;
    }
    .abtimg{
        display: none;
    }
    #contact .subtitle{
        display: none;
    }
    .navbar {
        display: none;
        flex-direction: column;
        background: #001829;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .navbar a {
        display: block;
        padding: 15px;
        border-bottom: 1px solid cyan;
    }

    .navbar.show {
        display: flex;
    }
}/* Experience Section */
.experience {
    padding: 50px 10%;
    background: #001829;
    color: white;
    text-align: center;
}

.exp-title {
    font-size: 50px;
    color: cyan;
    text-shadow: 0 0 10px white;
    margin-bottom: 40px;
}

.exp-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.exp-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px cyan;
}

.exp-content {
    width: 50%;
    text-align: left;
}

.exp-content h3 {
    font-size: 28px;
    color: cyan;
}

.exp-content h4 {
    font-size: 22px;
    color: rgb(14, 235, 235);
    margin-bottom: 10px;
}

.timeline {
    font-size: 18px;
    color: lightgray;
    margin-bottom: 15px;
}

.exp-content p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.exp-img {
    width: 40%;
}

.exp-img img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 15px cyan;
}

/* Button */
.btn {
    display: inline-block;
    text-decoration: none;
    color: cyan;
    border: 1px solid cyan;
    padding: 10px 20px;
    border-radius: 25px;
    transition: 0.5s;
}

.btn:hover {
    background: cyan;
    color: #001829;
    box-shadow: 0 0 15px cyan;
}

/* Responsive Design */
@media (max-width: 768px) {
    .exp-box {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .exp-content, .exp-img {
        width: 100%;
    }

    .exp-content {
        margin-bottom: 20px;
    }
}
